<nav class="mt-3 mb-3 pt-3 bg-light">
    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
      <ol class="breadcrumb">

        {% for item in breadcrumb %}
          {% if item.active %}
            <a class="breadcrumb-item" href="{{ item.url }}">{{ item.title }}</a>
          {% else %}
            <span class="breadcrumb-item active">{{ item.title }}</span>
          {% endif %}
        {% endfor %}

        <li class="breadcrumb-item"><a href="#">Productos</a></li>
        <li class="breadcrumb-item"><a href="#">Dirección</a></li>
        <li class="breadcrumb-item"><a href="#">Pedido</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="#">Data</a></li>
      </ol>
    </nav>
</nav>