{% extends 'base.html' %}

{% block content %}

    <div class="col">
        <h2>Registro</h2>

        <form method="POST">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}

                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="mt-5 btn btn-primary">Register</button>
        </form>

    </div>

{% endblock %}
