<form method="post" action="{% url 'carts:add' %}">
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.id }}">
    <div class="d-flex d-inline py-4">
        <button type="button" class="btn btn-info" id="remove">-</button>
        <input type="number" value="1" class="form-control col-sm-1" id="quantity" name="quantity">
        <button type="button" class="btn btn-info" id="add">+</button>
    </div>
    <button type="submit" class="btn btn-warning">Agregar al carrito</button>
</form>

<script>

    const add = document.getElementById('add');
    const remove = document.getElementById('remove');
    const qtty = document.getElementById('quantity');


    add.addEventListener('click', function() {
        qtty.value = parseInt(qtty.value) + 1;
    })

    remove.addEventListener('click', function() {
        value = parseInt(qtty.value);

        if (value > 1){
            value = value - 1;
        }
        qtty.value = value
    })


</script>