{% url 'login' as login %}
{% url 'register' as register %}
{% url 'carts:cart' as cart %}
{% url 'shipping_addresses:shipping_addresses' as shipping_addresses %}
{% url 'orders:completed' as completed %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">My Store</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link {% if request.path == register %}active{%endif%}" aria-current="page" href="{{ register }}">
                <span class="fas fa-user-plus"></span>
                 Registro
                </a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == login %}active{%endif%}" aria-current="page" href="{{ login }}">  
                <span class="fas fa-user"></span>
                  Login
                </a>
            </li>
            {% endif %}

            <li class="nav-item">
              <a class="nav-link {% if request.path == cart %}active{%endif%}" aria-current="page" href="{{ cart }}">  
                <span class="fas fa-shopping-cart"></span>
                  Carrito
                </a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == shipping_addresses %}active{%endif%}" aria-current="page" href="{{ shipping_addresses }}">  
                <span class="fas fa-location-arrow"></span>
                Mis direcciones
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link {% if request.path == completed %}active{%endif%}" aria-current="page" href="{{ completed }}">  
                <span class="fas fa-shipping-fast"></span>
                Mis pedidos
              </a>
            </li>
            {% endif %}
          </ul>
      </div>
    </div>
  </nav>